.titulo {
    font-size: 34px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista li {
    color: yellow;
    padding: 10px;
}

.texto {
    font-size: 26px;
    color: orange;
    padding: 5px;
}